body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #f8f9fa;
    background-image: url("https://510208.github.io/pwd-generator/image/background/background.svg");
    background-repeat: no-repeat; /* 仅在纵向方向重复 */
    background-size: cover; /* 宽度保持原始，高度铺满 */
    background-position: center; /* 将图像在垂直和水平方向上居中 */
}

.form-check-label {
    margin-left: 10px; /* 添加一些间距以便与 checkbox 保持一定的距离 */
}

#generatedPassword {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1.5rem;
    font-weight: 500;
    color: #212529;
    background-color: lightgray;
    padding: 10px;
    text-align: center;
    overflow: hidden;
}

.form-check-input:checked {
    background-color: #1c4d00;
    border-color: #1c4d00;
}

.btn-primary {
    background-color: #1c4d00;
    border-color: #1c4d00;
}

.btn-primary:hover {
    background-color: #113000;
    border-color: #113000;
}

.btn:active {
    background-color: #1c4d00;
    border-color: #1c4d00;
}

#label-div {
    text-align: center;
}

.small-flag {
    width: 20px; /* 设置图像的宽度 */
    height: auto; /* 设置图像的高度自动适应宽度 */
}

/* 設定語言選單顏色 */
#languageDropdown {
    background-color: #454d00;
    border-color: #454d00;
}

.dropdown-item:active {
    background-color: #454d00;
}

footer {
    background-color: #113000;
}

.fixed-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f8f9fa;
    padding: 10px 0;
}

.language-switch {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

#ascii-logo.strong.pre.code {
    background-color: lightgray;
}
